<simple-navbar></simple-navbar>
<div class="flex flex-col lg:mt-24 mt-14 lg:items-center">
  <div class="flex flex-col lg:max-w-[90vw] xl:max-w-[80vw] lg:min-w-[90vw] xl:min-w-[80vw] 2xl:min-w-[70vw] 2xl:max-w-[70vw] overflow-x-hidden">
    <main class="lg:px-0 px-3 lg:pb-0 pb-8 grid grid-cols-12 gap-8 lg:pt-9">
      <div class="hidden lg:block lg:col-span-3">
        <sidebar></sidebar>
      </div>
      <div class="lg:col-span-9 col-span-12 pb-12 px-1">
        <div class="flex flex-col gap-4">
          <div class="hidden lg:grid grid-cols-2 py-2 items-center">
            <div class="flex items-center gap-2 font-semibold text-2xl text-nowrap cursor-default">
              {{ pageTitle() | translate }}
            </div>
            <div class="flex justify-end">
              <p-button routerLink="/home" severity="primary" variant="outlined" class="lg:flex hidden">
                {{ 'navbar.back' | translate }}
              </p-button>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
</div>
